<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Paciente
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card-header lines="inset">
    <ion-card-subtitle>DETALLES</ion-card-subtitle>
  </ion-card-header>
  
  <ion-card>
    <ion-item-sliding *ngFor="let elem of pacienteAll">
      <ion-card>
        <ion-row lines="inset" button [routerLink]="['/paciente', elem.id]">
          <ion-col size="9">
            {{elem.nombre}} {{elem.apellidos}}
          </ion-col>
          <ion-col >
            {{elem.fecha | date:'MM/dd/yyyy'}} 
          </ion-col>
        </ion-row>
    </ion-card>
      <ion-item-options side="end">
          <ion-item-option  (click)="removePaciente(item)" color="secondary">
            <ion-icon name="checkmark" slot="end"></ion-icon>
          </ion-item-option>      
      </ion-item-options>
    </ion-item-sliding>
  </ion-card>
  
  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button routerLink="/paciente" routerDirection="forward">
      <ion-icon name="Add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
